.header-wrapper {
  height: 96px;
  background: var(--background-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  box-sizing: border-box;
}

.header-nav-wrapper {
  display: flex;
  gap: 32px;
}

.header-nav {
  cursor: pointer;
  text-decoration: none;
}

.active {
  background: var(--portfolio-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
