.home-wrapper {
  height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 8vw;
}

.home-wrapper .h1-light {
  text-transform: none;
  color: var(--text-grey);
}

.home-wrapper .h1-semibold {
  text-transform: capitalize;
}

.home-drop-down-link {
  color: #e3e4e6;
}

.home-drop-down {
  height: 25px;
  cursor: pointer;
  margin-top: 5rem;
}

@media (max-width: 1200px) {
  .home-wrapper {
    height: 100vh;
  }
}

@media (max-width: 992px) {
  .home-wrapper {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .home-wrapper {
    height: 100vh;
    padding: 0 6vw;
  }
}

@media (max-width: 480px) {
  .home-wrapper {
    height: 100vh;
    padding: 0 4vw;
  }
}
