.home-wrapper {
  height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0px 104px;
}

.home-drop-down {
  height: 25px;
  cursor: pointer;
  margin-top: 234px;
}
